* {
    background: #0A1533;
    background-image: none;
    font-family: "SauceCodePro Nerd Font", sans-serif;
    border-color: #014AA7;
    font-size: 14px;
    color: #fff
}
#settingsBtn {
    background: #165099;
}
#homeBtn {
    background: #165099;
}
#saveSettingsBtn {
    background: #165099;
}
#optionBtn {
    background: transparent;
}
#settingsBtn:hover{
    background: #38A1F0;
}
#saveSettingsBtn:hover{
    background: #38A1F0;
}
#homeBtn:hover{
    background: #38A1F0;
}

#confirmBtn:hover{
    background: #38A1F0;
}
#cancelBtn:hover{
    background: #38A1F0;
}

image {
    background: transparent;
}

label {
    background: transparent;
}

cellview, arrow{
    background: #0A1533;
}

combo {
    background: #0A1533;
}

entry {
    background: #0A1533;
}
