* {
    background: #241B30;
    background-image: none;
    font-family: "SauceCodePro Nerd Font", sans-serif;
    border-color: #4B3E69;
    font-size: 14px;
    color: #fff
}
button {
    background: #4B3E69;
}
#optionBtn {
    background: transparent;
}
#settingsBtn:hover{
    background: #9C5CAC;
}
#homeBtn:hover{
    background: #9C5CAC;
}

#confirmBtn:hover{
    background: #9C5CAC;
}
#cancelBtn:hover{
    background: #9C5CAC;
}

image {
    background: transparent;
}

label {
    background: transparent;
}

cellview, arrow{
    background: #4B3E69;
}

popup {
    background: #241B30;
}

entry {
    background: #17111e;
}
